.root {
  position: relative;
  left: -150px;
}

.input {
  padding: 12px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 42px;
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  left: 14px;
}

.clear {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;

  &:hover{
    opacity: 0.8;
  }
}
